<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:image" content="assets/images/common/og-image.jpg">
    <link rel="stylesheet" href="assets/css/theme.min.css">
    <link rel="stylesheet" href="assets/css/utility.min.css">
    <link rel="stylesheet" href="assets/css/demo/start-hub-1/base.css">
    <link rel="stylesheet" href="assets/css/demo/start-hub-1/start-hub-1-contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&amp;family=Nunito:wght@400;600;700&amp;family=Roboto&amp;display=swap"
        rel="stylesheet">
    <title>Student Goal - Form</title>
</head>

<body data-lqd-cc="true" data-mobile-nav-breakpoint="1199" data-mobile-nav-style="minimal" data-mobile-nav-scheme="gray"
    data-mobile-nav-trigger-alignment="right" data-mobile-header-scheme="custom" data-mobile-logo-alignment="default"
    data-overlay-onmobile="true">
    <div id="wrap">
        <div class="titlebar bg-transparent" id="titlebar"
            style="background-image: linear-gradient(180deg, #FF00C414 0%, #FFFFFF 100%);">
            <div class="lqd-sticky-placeholder hidden"></div>
            <div class="titlebar-inner">
                <div class="container titlebar-container">
                    <div class="row titlebar-container justify-center">
                        <div class="col titlebar-col col-xl-6 col-lg-8 col-12 text-center text-gray-400">
                            <h2>Set your Board Exam Goal</h2>
                            <p class="leading-20"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="assets/vendors/jquery.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>